[galera_cluster]
10.35.0.168
10.35.0.169
10.35.0.170

[haproxy]
10.35.0.171

[apps]
10.35.0.173
10.35.0.174

[cache]
10.35.0.172

[galera_cluster:vars]
db_user=dbuser
db_password=dbpassword
db_name=dbname
wsrep_cluster_name=cluster_name
db_root_password=dbrootpassword